In [ ]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np

Данные взяты отсюда: https://www.coursera.org/learn/vvedenie-mashinnoe-obuchenie/programming/UzPbw/sostavlieniie-fondovogho-indieksa

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/romvano/ML-Introduction/master/L4/close_prices.csv')
data_index = pd.read_csv('https://raw.githubusercontent.com/romvano/ML-Introduction/master/L4/djia_index.csv')

Представленный набор данных описывает цены акций 30 компаний на закрытии торгов за каждый день периода.

In [ ]:
data.head(10)

         date        AXP          BA  ...         VZ        WMT        XOM
0  2013-09-23  76.440002  117.510002  ...  47.980000  76.419998  87.750000
1  2013-09-24  76.070000  119.000000  ...  47.270000  75.750000  87.360001
2  2013-09-25  75.989998  118.510002  ...  46.950001  74.650002  87.139999
3  2013-09-26  76.320000  119.379997  ...  47.669998  74.620003  87.070000
4  2013-09-27  75.889999  118.739998  ...  47.000000  74.360001  86.900002
5  2013-09-30  75.519997  117.500000  ...  46.669998  73.959999  86.040001
6  2013-10-01  75.930000  117.750000  ...  46.990002  73.589996  86.000000
7  2013-10-02  74.580002  117.839996  ...  46.790001  73.720001  86.080002
8  2013-10-03  74.019997  115.239998  ...  47.009998  73.160004  85.500000
9  2013-10-04  74.309998  117.199997  ...  47.099998  72.800003  86.320000

[10 rows x 31 columns]

In [ ]:
X = data.iloc[:, 1:]

Для того, чтобы обучить преобразование PCA с заданным числом компоненты, воспользуемся модулем `decomposition` в классе `PCA`. Пусть число компонент равно 10 (`n_components`). Применим обученное преобразование к данным:

In [ ]:
pca = PCA(n_components=10)
new_data = pca.fit_transform(X)

Процент дисперсии, который объясняет каждая компонента, сохраним в переменную `v`:

In [ ]:
v = pca.explained_variance_ratio_
v

array([0.73897118, 0.11007169, 0.04995088, 0.0287492 , 0.02215448,
       0.01931577, 0.00674853, 0.00614091, 0.00320594, 0.00305611])

Теперь определим, сколько компонент хватит, чтобы объяснить 90% дисперсии:

In [ ]:
i = 0
sum = 0

for i in range(0, len(v)):
    if (np.sum(v[0:i]) > 0.9): break
print(i)

4

Таким образом, всего 4 компоненты объясняют 90% дисперсии данных.

Для нахождения коэффициента корреляции Пирсона воспользуемся функцией `corrcoef` из пакета `numpy`:

In [ ]:
corrcoef = np.corrcoef(new_data[:, 0], data_index.iloc[:, 1])
print(corrcoef)

[[1.         0.90965222]
 [0.90965222 1.        ]]

Корреляция Пирсона между первой компонентой и индексом Доу-Джонса равна 0.91.

Определим, какая компания  имеет наибольший вес в первой компоненте. Для этого сравним в цикле веса всех компаний в первой компоненте (поле `components_` содержит информацию о том, какой вклад вносят признаки в компоненты).

In [ ]:
k = 0
i = 0
max = 0
for i in range(0, len(pca.components_[0])):
    if pca.components_[0][i] > max:
        max = pca.components_[0][i]
        k = i
print(X.columns[k])

V

В итоге, компания под названием `V` имеет наибольший вес в первой компоненте.